@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('../src/node_modules/@material-icons/font/css/outline.css');
/* Variáveis para fácil customização */
:root {
    --cor-primaria: #f3a853;
    --cor-primaria-clara: #f6b76f;
    --cor-secundaria: #967345;
    --cor-fundo: #fff;
    --cor-fundo-secundario:#f9f9f9;
    --cor-texto: #222;
    --cor-botao-cancelar: #fff;
    --cor-botao-cancelar-borda: #f3a853;
    --cor-link: #967345;
    --ativo: #4dab13;
    --atencao: #e93737;
    --radius: 16px;
    --sombra: 0 0px 15px #96734580;
    --fonte-principal: Poppins, sans-serif;
    --espaco-padrao: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    background-image: url(../img/mokele-general-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
    padding: var(--espaco-padrao);
    border-radius: var(--radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    max-height: 95vh;
    box-shadow: var(--sombra);
}

main form {
    padding: 20px;
    width: 100%;
}

main input {
    width: 100%;
    height: 2.7em;
    padding: 0 20px;
    border-radius: var(--radius);
    border: 1px solid var(--cor-secundaria);
    font-size: 1rem;
    color: var(--cor-texto);
    margin-bottom: 20px;
}

main input:focus {
    outline: none;
    border-color: var(--cor-primaria);
    color: var(--cor-texto);
}

main input::placeholder {
    color: var(--cor-secundaria);
    opacity: 0.7;
}

form label {
    text-align: left;
    font-weight: lighter;
    width: 100%;
    margin-bottom: 10px;
}

main a {
    color: var(--cor-link);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    font-size: 1.2em;
}

main a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 2.5em;
    margin: 20px 0;
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    border: none;
    border-radius: var(--radius);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

form button:hover {
    background-color: var(--cor-secundaria);
}

#footerPagina{
    background-color: var(--cor-primaria-clara);
    color: var(--cor-texto);
    padding: 2px;

    position: fixed;
    width:100% ;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#usuFooter{
    display: flex;
    align-items: center;
}

h2{
    font-size: 1.7em;
}
.form-control{
    border-color: var(--cor-primaria);
}
.form-control:focus{
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 0.25rem var(--cor-primaria);
}
.form-select{
    border-color: var(--cor-primaria);
}
.form-select:focus{
    border-color: var(--cor-primaria);
    box-shadow: 0 0 0 0.25rem var(--cor-primaria);
}
.btn-outline-warning{
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}
.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active{
    background-color: var(--cor-primaria);
    color:white;
    border-color: var(--cor-primaria);
}

/* CSS dos POPUPS */

.popupContainer, dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 16px;
    height: 60vh;
    width: 85vh;
    text-align: center;
    justify-items: center;
}
.popup{
    width: 90%;
}
.popupContainer img{
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 94.5%;
}
.nomePopup{
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 16px 16px 0 0;
    margin-top: 5px;
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
}
/* Cabeçalho do menu */

nav{
    font-family: Poppins;
    z-index: 1000;
}

.cabeca-do-menu {
    background-color: #f3a853;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-height: 70px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.cabeca-do-menu img.logo {
    width: 50px;
    height: auto;
}

.cabeca-do-menu h1 {
    color: white;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    margin-left: 10px;
}

.menu-lateral:hover .cabeca-do-menu {
    justify-content: flex-start;
}

/* Menu lateral */
.menu-lateral {
    width: 70px;
    height: 100dvh;
    background-color: rgba(189, 159, 120, 0.45);
    backdrop-filter: blur(5px);
    padding-bottom: 20px;
    box-shadow: 3px 0 0 #f3a853;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.2s;
}

.menu-lateral:hover {
    width: 250px;
}

/* Links do menu */
.menu-lateral ul {
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.menu-lateral ul li {
    margin-bottom: 10px;
}

.menu-lateral ul li a {
    color: black;
    display: flex; 
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
    justify-content: center;
}

.menu-lateral:hover ul li a {
    justify-content: flex-start;
}

/* Ícones */
.menu-lateral .icon {
    font-size: 28px;
    flex-shrink: 0;
}

/* Nome dos links */
.nome-do-link {
    opacity: 0;
    width: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.2s;
}

.menu-lateral:hover .nome-do-link {
    opacity: 1;
    width: auto;
    margin-left: 10px;
}

/* Hover nos itens */
ul li.item-menu {
    transition: background-color 0.2s;
}

ul li.item-menu:hover {
    background-color: #f3a853;
}

ul li.item-menu:hover a,
ul li.item-menu:hover .icon {
    color: white;
}

#footer-principal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f3a853;
    color: white;
    display: flex; /* FLEX para alinhar */
    justify-content: space-between; /* Extremidades */
    align-items: center; /* Centralizar verticalmente */
    padding: 10px 20px;
    font-size: 0.9rem;
    z-index: 1000;
}

.menu-lateral::-webkit-scrollbar {
    scrollbar-width: none; /* Firefox */
    display: none; /* Chrome, Safari, Opera */
}