/* Cabeçalho do menu */
nav {
    font-family: Poppins;
    z-index: 1000;
}

/* Nome dos links inicialmente invisível */
.item-menu a span {
    opacity: 0;
    width: 0;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    transition:
        opacity 0.3s ease,
        width 0.3s ease,
        margin-left 0.3s ease;
}

/* Quando hover */
.menu-lateral:hover .item-menu a span {
    opacity: 1;
    width: auto;
    margin-left: 10px;
}

.cabeca-do-menu {
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    min-height: 70px;
    margin-bottom: 10px;
    transition: justify-content 0.3s ease;
}

.cabeca-do-menu img.logo {
    width: 60px;
    height: auto;
}

/* título inicialmente escondido */
.cabeca-do-menu h1 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    opacity: 0;
    width: 0;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    transition:
        opacity 0.3s ease,
        width 0.3s ease,
        margin-left 0.3s ease;
}

/* quando hover na sidebar */
.menu-lateral:hover .cabeca-do-menu {
    justify-content: flex-start;
}

.menu-lateral:hover .cabeca-do-menu h1 {
    opacity: 1;
    width: auto;
    margin-left: 10px;
}

/* Menu lateral */
.menu-lateral {
    width: 70px;
    height: 100dvh;
    background-color: rgba(189, 159, 120, 0.45);
    backdrop-filter: blur(5px);
    padding-bottom: 20px;
    box-shadow: 3px 0 0 var(--cor-primaria);
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
}

.menu-lateral:hover {
    width: 250px;
    box-shadow: var(--sombra);
}

/* Links do menu */
.menu-lateral ul {
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.menu-lateral ul li {
    margin-bottom: 10px;
}

.menu-lateral ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 20px;
    transition:
        background 0.2s,
        color 0.1s;
    justify-content: start;
}

.menu-lateral:hover ul li a {
    justify-content: flex-start;
}

/* Ícones */
.menu-lateral .item-menu-icon {
    font-size: 28px;
    flex-shrink: 0;
}

/* Nome dos links */
.nome-do-link {
    opacity: 0;
    width: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.2s;
}

.menu-lateral:hover .nome-do-link {
    opacity: 1;
    width: auto;
    margin-left: 10px;
}

/* Hover nos itens */
ul li.item-menu {
    transition: background-color 0.2s;
}

ul li.item-menu:hover {
    background-color: var(--cor-primaria);
}

ul li.item-menu:hover a,
ul li.item-menu:hover .icon {
    color: white;
}

.menu-lateral::-webkit-scrollbar {
    scrollbar-width: none; /* Firefox */
    display: none; /* Chrome, Safari, Opera */
}
