<footer id="footerPagina">
    <div id="usuFooter">
        <i class="material-icons md-account_circle"></i>
        Usuário: <?php echo $_SESSION["nome"]; ?> <span id="usuLogado"> </span>
    </div>

    <span id="horaAtual"></span>
    <span id="dataAtual"></span>
</footer>

<script>
    function dataHora() {
        const agora = new Date();
        const ano = agora.getFullYear();
        const mes = String(agora.getMonth() + 1).padStart(2, "0");
        const dia = String(agora.getDate()).padStart(2, "0");
        const hora = String(agora.getHours()).padStart(2, "0");
        const min = String(agora.getMinutes()).padStart(2, "0");
        const sec = String(agora.getSeconds()).padStart(2, "0");

        document.getElementById("horaAtual").textContent =
            `${hora}:${min}:${sec}`;

        document.getElementById("dataAtual").textContent =
            `${dia}/${mes}/${ano}`;
    }
    setInterval(dataHora, 1000);
    dataHora();
</script>
