<footer id="footerPagina">
    <div id="usuFooter">
        <i class="material-icons md-account_circle"></i>
        Usuário: <?php echo $_SESSION["nome"]; ?> <span id="usuLogado"> </span>
    </div>

    <span id="dataHora"></span>

    <span id="copy"> Copyright: 2025-2025 </span>
</footer>

<script>
    function dataHora() {
        const agora = new Date();
        const ano = agora.getFullYear();
        const mes = String(agora.getMonth() + 1).padStart(2, "0");
        const dia = String(agora.getDate()).padStart(2, "0");
        const hora = String(agora.getHours()).padStart(2, "0");
        const min = String(agora.getMinutes()).padStart(2, "0");
        const sec = String(agora.getSeconds()).padStart(2, "0");

        document.getElementById("dataHora").textContent =
            `${dia}/${mes}/${ano} ${hora}:${min}:${sec}`;
    }
    setInterval(dataHora, 900);
    dataHora();
</script>
