body {
    background-image: url(../img/blur-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#login-page {
    height: 70vh;
    width: 50vw;
    padding: 0;
    padding-left: 25vw;
    overflow: hidden;
}

#login-titulo {
    position: absolute;
    /* necessário para left funcionar */
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    /* começa cobrindo tudo */

    background: linear-gradient(var(--cor-primaria), var(--cor-primaria-clara));
    color: var(--cor-fundo);
    border-radius: var(--radius);

    animation: deslizar 2s forwards;

    box-shadow: 4px 0 10px #96734580;

    z-index: 30;
}


#login-titulo h1 {
    max-width: 20vw;
    margin-top: auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

#login-titulo h2 {
    margin-bottom: auto;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

#login-titulo h1,
#login-titulo h2 {
    margin: 5px auto;
}

#login-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#login-conteudo h1 {
    color: var(--cor-primaria);
    font-size: 2.5rem;
    padding-bottom: 30px;
    font-weight: 600;
}

#login-conteudo img {
    display: block;
}

#login-conteudo form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-conteudo header {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
}

#login-conteudo header img {
    width: 180px;
    height: 180px;
}

.input-container{
    position: relative;
}

.input-icon{
    position: absolute;
    top: 50%;
    left: 87%;
    transform: translateY(-50%);
}

#senha-olho{
    cursor: pointer;
}

/* animação */

@keyframes deslizar {
    0% {
        right: 0;
        width: 100%;
    }

    100% {
        right: 50%;
        width: 50%;
    }
}