@import "variaveis.css";
#main-comandas {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 90%;
}
#cadastro_relatorio {
    justify-content: space-between;
}
main form {
    align-items: center;
    justify-content: center;
}
.form-control {
    width: 50%;
    margin: 0;
}
.form-control + .form-control,
.form-control + .btn {
    margin-left: 10px;
}
.interacao {
    width: 100%;
    justify-content: space-between;
}
#form-emitir {
    width: 50%;
}
#form-emitir .btn {
    width: 200px;
}
.tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.tabela td,
th {
    text-align: center;
    padding: 8px 12px;
}

.tabela tr:nth-child(even) {
    background-color: rgb(242, 242, 242);
}

.tabela thead {
    font-weight: bold;
    color: white;
    background-color: var(--cor-primaria);
}

.tabela th {
    padding: 5px;
    border: none;
    margin: 0;
}

.tabela thead th:first-child {
    border-top-left-radius: var(--radius);
}

.tabela thead th:last-child {
    border-top-right-radius: var(--radius);
}
.remover {
    color: #c20404;
}
.editar {
    color: #000000;
}
#totalComanda {
    margin-right: 10px;
}

#container-top {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-direction: row;
}

#form-busca-itens {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

#form-busca-itens input[type="text"] {
    flex: 2;
}

#form-busca-itens input[type="number"] {
    flex: 1;
}

#form-busca-itens button {
    flex: 1;
    min-width: 100px;
}

#comandaFinalizar {
    display: flex;
    align-items: center;
    gap: 10px;
}
#comandaFinalizar > * {
    flex: 1;
}
#comandaFinalizar form {
    padding: 0;
}
#comandaFinalizar #totalComanda {
    flex: 2;
}
