main form{
    align-items: center;
    justify-content: center;
}
.form-control{
    width: 50%;
    margin: 0;
}
.form-control + .form-control, .form-control + .btn{
    margin-left: 10px;
}
.interacao{
    width: 100%;
    justify-content: space-between;
}
#form-paia{
    width: 50%;
}
#form-paia .btn{
    width: 200px;
}
