@charset "UTF-8";

#mainHome {
    width: 90vw;
    flex-wrap: wrap;
    overflow: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* ---------------------- */
/* CONFIGURAÇÃO DO HEADER */
/* ---------------------- */

#mainHome > #headerHome {
    background-color: var(--cor-primaria);
    color: white;
    padding: 1em;
    padding-bottom: 1.5em;
    margin-bottom: auto;
    width: 100%;
    border-radius: var(--radius) var(--radius) 0 0;
}

#headerHome h1 {
    margin: 0 auto;
    text-align: center;
}

/* -------------------- */
/* CONFIGURAÇÕES GERAIS */
/* -------------------- */

#statusComandas p,
#statusEstoque p,
#statusPDV p {
    text-align: center;
}

#ctnrStatus,
#ctnrAcsRap,
#ctnrDiaInfo {
    padding: 20px 1.5vw;
    background-color: var(--cor-fundo-secundario);
    border-radius: var(--radius);
}

#ctnrAcsRap {
    box-shadow: none;
    background-color: white;
}

#ctnrAcsRap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#sysStatus h2,
#acsRapido h2,
#diaInfo h2 {
    margin: 0 auto;
    color: var(--cor-primaria);
}

#sysStatus h3,
#diaInfo h3 {
    text-align: center;
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}

/* --------------------------------- */
/* CONFIGURAÇÃO DO STATUS DO SISTEMA */
/* --------------------------------- */



#statusComandas,
#statusEstoque,
#statusPDV {
    width: 28vw;
}

#statusEstoque P {
    color: var(--atencao);
    font-weight: bold;
}

#statusPDV .idPDV {
    font-weight: bold;
}

#statusPDV .statusAtivo {
    color: var(--ativo);
    font-weight: bold;
}

#statusPDV .atvPDV {
    font-weight: bold;
}

#ctnrStatus {
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
}

#sysStatus {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#ctnrStatus {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* espaçamento entre eles */
}

#ctnrStatus > * {
    flex: 0 0 calc(33.333% - 20px); /* 3 por linha */
    box-sizing: border-box;
}


/* ----------------------------- */
/* CONFIGURAÇÃO DO ACESSO RAPIDO */
/* ----------------------------- */

#acsRapido {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#ctnrAcsRap {
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}

.itemMenu {
    background-color: var(--cor-fundo-secundario);
    padding: 20px;
    height: 150px;
    width: 27.33vw;
    margin:auto;
    margin-bottom: 20px;
    border-radius: var(--radius);
    cursor: pointer;
    text-align: center;
}

.itemMenu:hover {
    box-shadow: 0px 0px 20px 5px #96734580;
    transition: 0.3s ease;
}

/* --------------------------- */
/* CONFIGURAÇÃO DO DIA DE HOJE */
/* --------------------------- */

#diaInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#ctnrDiaInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#vendHoje,
#topProdutos,
#movFaixaHora {
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#totalVendasHoje,
#horaPico {
    font-weight: bold;
}

#itensAcesso {
    display: flex;
    justify-content:center ;
}