body {
    background-image: url(../img/mokele-general-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#login-page {
    height: 80vh;
    width: 60vw;
    padding: 0;
    padding-left: 30vw;
    overflow: hidden;
}

#login-titulo {
    position: absolute;
    /* necessário para left funcionar */
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    /* começa cobrindo tudo */

    background: linear-gradient(var(--cor-primaria), var(--cor-primaria-clara));
    color: var(--cor-fundo);
    border-radius: var(--radius);

    animation: deslizar 2s forwards;

    box-shadow: 4px 0 10px #96734580;

    z-index: 30;
}

#login-titulo h1 {
    max-width: 30vw;
    margin-top: auto;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

#login-titulo h2 {
    margin-bottom: auto;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

#login-titulo h1,
#login-titulo h2 {
    margin: 5px auto;
}

#login-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#login-conteudo h1 {
    color: var(--cor-primaria);
    font-size: 2.5rem;
    padding-bottom: 30px;
    font-weight: 600;
}

#login-conteudo img {
    display: block;
}

#login-conteudo form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-conteudo header {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
}

#login-conteudo header img {
    width: 180px;
    height: 180px;
}

.input-container {
    position: relative;
    padding: 0;
    width: 100%;
}

#container-senha input {
    margin-bottom: 0;
    flex: 1;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

#senha-olho {
    cursor: pointer;
}

#esq-senha {
    margin-top: 20px;
}

#btn-entrar {
    background-color: var(--cor-primaria);
    color: white;
    transition: 0.3s;
}

#btn-entrar:hover {
    background-color: var(--cor-primaria-clara);
}

a {
    text-decoration: none;
    color: var(--cor-link);
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: -4px;
    position: relative;
}

main a:hover {
    text-decoration: none;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--cor-link);
    transition: 0.3s;
}

a:hover::after {
    width: 100%;
}

/* animação */

@keyframes deslizar {
    0% {
        right: 0;
        width: 100%;
    }

    100% {
        right: 50%;
        width: 50%;
    }
}
#esq-senha a{
    color: var(--cor-link);
    cursor: pointer;
}