.main-pdv {
    display: flex;
    background-color: transparent;
    width: 90%;
    gap: 20px;
    border: none;
    box-shadow: none;
    padding: 0;
}

/* Div adicionar itens(parte esquerda da pagina) */
.adicionarItens {
    flex: 7;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;

    background-color: white;
    border-radius: var(--radius);
    box-shadow: var(--sombra);
}

.topoPag {
    background-color: var(--cor-primaria);
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: var(--radius) var(--radius) 0 0;
}

.pesquisarItens {
    flex: 1;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.pesquisarItens > * {
    margin: 0;
    flex: 4;
}

.pesquisarItens button {
    flex: 2;
}

/* TABELA */

#tabela-itens {
    width: 100%;
}

#tabela-itens td,
th {
    text-align: center;
}

#container-table {
    padding: 20px;
    width: 100%;
    flex: 1;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div contabilizarVendas(parte direira da pagina) */

.contabilizarVendas {
    flex: 3;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    box-shadow: var(--sombra);
    border-radius: var(--radius);
    background-color: white;
}

.topoPag-conta {
    background-color: var(--cor-primaria);
    color: #eeeeee;
    width: 100%;
    text-align: center;
    padding: 18px;
    border-radius: var(--radius) var(--radius) 0 0;
}

.contabilizarVendas img {
    width: 80%;
    margin: 0 auto;
}

.infoCaixa {
    background-color: #eeee;
    margin-left: 10px; 
    margin-right: 10px;
}

.infoCaixa h4 {
    background-color: #eeee;
    font-family: "Roboto Mono", monospace;
    text-align: center;
}

#finalizarVenda {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

#finalizarVenda form {
    padding: 0;
}

#finalizarVenda * {
    flex: 1;
}

#finalizarVenda form button {
    margin: 0;
}

.infoFinal {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.infoFinal {
    font-weight: bold;
}

.infoFinal .currency {
    font-size: 1em;
}

.infoFinal #total {
    font-size: 2em;
}

.form-finalizarPag {
    width: 100%;
}

.botoes-compra {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.botoes-compra button {
    flex: 1;
}