@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono/RobotoMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono/RobotoMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono/RobotoMono-BoldItalic.ttf")
        format("truetype");
    font-weight: 700;
    font-style: italic;
}
